*{
	font-family: 'titilliumregular';
}

html {
	min-height: 100%;
	position: relative;
  }

body{
	margin: 0;
	background-color: #ffffff;;
	background-size: auto, cover;
}


.content{
		width: 100%;
		max-width:1360px;
		margin: 0 auto;
		min-height: calc(89vh - 90px);
		overflow: hidden;
		padding-left: 35px;
	}	


/*.arriba{
	margin-top: 500px;
}
	
	
.content.arriba{
	color: #fff;
}
*/


header{
	float: left;
	width: 100%;
	height: auto;
	background-color: #d9dae2;

}
.contentHeader{
	width: 100%;
	max-width:1360px;
	margin: 0 auto;

}	


#logo{
	float: left;
    height: 78px;
    margin: 10px 19px 12px 0px;
}

nav#menu{
	float: right;
}

	nav#menu ul{
		margin: 0 0 0 -40px;
	}

	nav#menu li{
		float: left;
    list-style: none;
    margin-right: 7px;
    text-transform: uppercase;
    color: #f93822;
    font-size: 14px;
    padding: 9px 13px;
    opacity: 1;
    font-family: 'Arvo', serif;
	}
		
				
		nav#menu li:hover{
			background-color: rgba(211, 206, 206, 0.815);
			color: #0072ce;
			opacity: 1;
			
			transition: all 0.7s;
			-o-transition: all 0.7s;
			-ms-transition: all 0.7s;
			-moz-transition: all 0.7s;
			-webkit-transition: all 0.7s;
			
		}
		
	nav#menu a:last-child{
			margin-right: 60px;
		}

nav#busqueda{
	width: 100%;
	height: auto;
	float:left;
}

.barraBusqueda{
	position: relative;
   /* right: -310px;*/
    bottom: -20px;
	float: left;
	
}
/*
	
	*-*-*-*-*-*-*-*--BARRA BUSQUEDAAAAAA-*-*-*-*-*-*-*-*- */
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 0 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch--input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 33px;
	width: 585px;
    padding: 0px 40px 0 10px;
    border-color: antiquewhite;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;
    color: #38F;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;

	
}

.flexsearch--submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 29px;
    height: 25px;
    padding: 0;
    border: none;
    margin-top: 20px;
    margin-right: 6px;
    background: transparent;
    color: #888;
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    line-height: 60px;
}
.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}

	/*
	
	*-*-*-*-*-*-*-*---------------------------*-*-*-*-*-*-*-*-*-
	
	
	*/	
 /*nav > li:nth-child(3){
	 color: #fff;
 }*/
	

nav#menu-celular{
	display: none;
}		

	select{
		float: right;
		margin: 30px 30px 0 0;
		border-radius: 0;
		height: 40px;
		width: 150px;
		border: none;
		font-size: 18px;
	}
		select option{
			
		}
	

section{
	width: 100%;
}

#inicio{
	float: left;
	}
	
	section#servicios{
		padding: 250px 0px 100px;
			position: relative;
			float: left;
			margin-top: 30px;
			margin-bottom: 150px;	
	}
	
article{
	float: left;
	width: 400px;
	height: 220px;
	background-color: rgba(255,255,255,0.7);
	margin-right: 30px;
	
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-o-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-ms-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	
	border-radius: 20px 20px 25px 25px;
	-o-border-radius: 20px 20px 25px 25px;
	-ms-border-radius: 20px 20px 25px 25px;
	-moz-border-radius: 20px 20px 25px 25px;
	-webkit-border-radius: 20px 20px 25px 25px;
}

	
#servicios .content article:last-child{
	margin-right: 0;
}	
	
	
	article:hover{
		
		transform: skew(3deg);
		-o-transform: skew(3deg);
		-ms-transform: skew(3deg);
		-moz-transform: skew(3deg);
		-webkit-transform: skew(3deg);
		
		transition: all 1s ease 0s;	
		-o-transition: all 1s ease 0s;	
		-ms-transition: all 1s ease 0s;	
		-moz-transition: all 1s ease 0s;	
		-webkit-transition: all 1s ease 0s;	
	}
	
article h2{
	background-color: #0072cead;;
	color: #fff;
	margin-top: 0;
	line-height: 55px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
	border-radius: 20px 20px 0 0;
}

article p{
	font-size: 17px;
	margin: 0px 20px;
	text-align: justify;
	
	text-shadow: 1px 1px 10px rgb(249 56 34);
}



/*h1, li, p{
	color: #fff
}*/


/*CONTACTO*/
	
	#contacto{
		float: left;
		}

	
	#contacto h1{
		color: rgb(0 114 206);
		font-size: 40px;
	}
	
	#contacto p{
		color: rgb(0, 0, 0);
		font-size: 16px;
	}
	
	
	form{
		float: left;
	}
	
	input{
		width: 300px;
		height: 40px;
		background: rgba(255,255,255,0.8);
		border: 1px solid black;
		margin-bottom: 10px;
		font-size: 18px;
		/*text-transform: uppercase;*/
		padding-left: 10px;
	}
	
	textarea{
		width: 300px;
		height: 200px;
		font-size: 18px;
		text-transform: uppercase;
		padding-left: 10px;
	}

	.btn{
		width: 150px;
		background: #f93822;;
		color: #fff;
	}
		.btn:hover{
			background: rgb(247, 217, 217);
			color: rgb(0 114 206);;
			
			transition: all 1s;
			-o-transition: all 1s;
			-ms-transition: all 1s;
			-moz-transition: all 1s;
			-webkit-transition: all 1s;
		}
.divMapa{
	padding-left: 76px;
    margin-left: 700px;
    margin-top: -642px;
    margin-bottom: 249px;
	}
	.respuestaMail{
		margin-left: 438px;
		margin-top: -73px;
		color: #0072ce;
  	  font-size: 20px;

	}
/*LOGIN*/
	
#login{
	float: left;
	background-image: url("../imagenes/fondoLogin.jpg");
	background-repeat: repeat-x;
}

#login h1{
	color: rgb(0 114 206);
	font-size: 40px;
}


#login p{
	color: rgb(0, 0, 0);
	font-size: 16px;
}

.Ingreso {
	width: 50%;
	float: left;
	padding-top: 53px;
}
.CamposIngreso{
	padding-top: 17px;
    padding-bottom: 17px;
}
.Registro {
	width: 50%;
	float: right;
	padding-top: 53px;
}
.form-group{
	padding-left: 28%;
}
/*ADMIN*/
	
#admin{
	float: left;
}

#admin h1{
	color: rgb(0 114 206);
	font-size: 40px;
}

#admin p{
	color: rgb(0, 0, 0);
	font-size: 16px;
}

.accionesGrilla{
	width: 23px;
	height: 23px;
}
.btnAgregarUsuarios{
	margin-left: 436px;
}
.divAgregarUsuarios{
	padding-bottom: 20px;
	margin-left: 190px;
}
.fotoPerfilGrilla{
	width: 40px;
    height: 40px;
    margin-left: 22px;
}
.fotoPerfil{
    width: 200px;
    height: 200px;
    border: solid;
    border-width: 6px;
    border-color: #b8ecfc;
}
.divFotoPerfil{
    margin-left: 373px;
    margin-top: 68px;
}
.parrafoFotoPerfil{
	margin-left: 76px;
}

.grilla{
	width: 150px;
	background: #6bd3e0;;
	color: #fff;
}
	.grilla:hover{
		background: rgb(247, 217, 217);
		color: rgb(0 114 206);;
		
		transition: all 0.5s;
		-o-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
/*PRODUCTOS*/
.btnProductos{
    margin-left: 347px;
    margin-top: -107px;
}
.divBtnProductos{
	padding-top: 10px;
	padding-bottom: 10px;
}
.filtrosProductos{
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
}
.formProductos{
	width: 38%;
	height: 135px;
}
.comboOrder{
	border: 1px solid black;
    margin-left: 14px;
    margin-top: -10px;
    width: 195px;
}
/*ESTILO FOOTER*/					
	footer{
		width: 100%;
		height: 90px;
		background: #b8ecfc ;
		position: relative;
		float: left;
		left: 0;
	}
		
		nav#social{
			float: right;
			margin-top: 5px;
			margin-right: 60px;
		}
			nav#social li{
				list-style: none;
				float: left;
				margin-left: 15px;
			}
				nav#social li:hover{
					opacity: 0.5;
					transition: all 0.5s linear 0s;
					-o-transition: all 0.5s linear 0s;
					-ms-transition: all 0.5s linear 0s;
					-moz-transition: all 0.5s linear 0s;
					-webkit-transition: all 0.5s linear 0s;	
				}
			
		footer img#marca-footer{
			float: right;
			margin-left: 10px;
			height: 30px;
		}




/* RESPONSIVE */

@media screen and (max-width:965px){
		
		#servicios{
			text-align: center;
		}
		
		article, #servicios .content article:last-child{
			float: none;
			margin: 10px auto;
			width: 60%;
		}
	
}


@media screen and (max-width:900px){
	
	nav#menu{
		display: none;
	}
	
	nav#menu-celular{
		display: block;
	}
	
}


@media screen and (max-width: 768px){

	.content{
		width: 90%;
	}
	
	#inicio{
		padding: 60px 0;
	}

		#texto{
			width: 100%;
		}
		
			#texto p{
				font-size: 120%;
			}
		
		#inicio img{
			width: 100%;
			margin-left: 0;
		}
	
}		


@media screen and (max-width: 600px){
	
		article, #servicios .content article:last-child{
			width: 100%;
		}
	
}

/*sliiiiiiiiiiiiiiiiider de imaaaaaaaaaaaaaaageneeeeeessss-------------*/

#slider{
		clear: both;
		border: 0px solid #999;
		margin: 0px auto;
		width: 100%;
		position: relative;
}
#slider img{
	position: absolute;
    left: 0px;
    top: 0px;
    border: 0px solid #f00;
    margin: 0;
    width: 100%;
    height: 260px;
	background-color:#999
}

